In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('newssumm_cleaned.xlsx')

In [4]:
df.columns

Index(['newspaper_name', 'published_date', 'headline', 'article_text',
       'human_summary', 'news_category'],
      dtype='object')

In [11]:
df['news_category'].value_counts()

news_category
Politics                            43265
Business and Finance                30668
National News                       29677
Local News                          25476
International News                  24386
                                    ...
INSURANCE                               1
TERROISM                                1
municipal and public safety             1
Enforcement                             1
Crime / Governance / Environment        1
Name: count, Length: 5270, dtype: int64

In [12]:
df['news_category'].value_counts().reset_index(name='count')

                         news_category  count
0                             Politics  43265
1                 Business and Finance  30668
2                        National News  29677
3                           Local News  25476
4                   International News  24386
...                                ...    ...
5265                         INSURANCE      1
5266                          TERROISM      1
5267       municipal and public safety      1
5268                       Enforcement      1
5269  Crime / Governance / Environment      1

[5270 rows x 2 columns]

In [13]:
top25 =df['news_category'].value_counts().nlargest(25)
print(top25)

news_category
Politics                     43265
Business and Finance         30668
National News                29677
Local News                   25476
International News           24386
Crime and Justice            22426
Sports                       21679
Entertainment                18316
Health and Wellness          15229
Education                    12262
Environment                   9346
Science and Technology        8865
Lifestyle and Features        6999
Technology and Gadgets        6702
Opinion and Editorial         5680
Human Interest                5350
Miscellaneous                 4748
Religion and Spirituality     3787
Weather                       3735
Automotive                    2223
Obituaries                    1316
Politics and Government        640
Economy                        379
General                        367
Crime and Legal Issues         278
Name: count, dtype: int64